@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yeseva One", cursive;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: rgb(238, 222, 190);
  text-transform: uppercase;
  cursor: pointer;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  color:  rgb(238, 222, 190);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  color:  rgb(238, 222, 190);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(77, 77, 77);
  mix-blend-mode: overlay;
}

.overlayService {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: rgb(238, 222, 190);
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: rgb(238, 222, 190);
  line-height: 1em;
  text-transform: uppercase;
}
.text h4 {
  font-size: 2em;
  font-weight: 700;
  color: rgb(238, 222, 190);
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1.1em;
  color: rgb(238, 222, 190);
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: rgb(238, 222, 190);
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
.menu {
  background-color:  rgb(238, 222, 190);
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  position: relative;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover {
  color: #a82706;
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* CSS Variables */
/* :root{ 
    --navbar-height:30px;
} */

::-webkit-scrollbar {
  display: none;
}

#navbar::before {
  content: "";
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 110%;
  z-index: -1;
  opacity: 1.4;
  top: 0px;
  left: 0px;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0px;
  padding: 15px;
}

/* Navigation Bar:Logo and Image */
#logo {
  margin: 2px 80px;
}

#logo img {
  height: 80px;
  margin: 5px 5px;
  border-radius: 10px;
}

/* Navigation Bar:List Styling */

#navbar ul {
  display: flex;
  font-family: "Yeseva One", cursive;
}

#navbar ul li {
  list-style: none;
  font-size: 1.5rem;
}
#navbar ul li a {
  color: rgb(238, 222, 190);
  display: block;
  padding: 5px 20px;
  border-radius: 40px;
  text-decoration: none;
}

/* #navbar ul li a:hover{
    
} */

/* Home section */
#home {
  display: flex;
  flex-direction: column;
  padding: 10px 200px;
  height: 670px;
  justify-content: center;
  align-items: center;
}

#home h1 {
  color: rgb(238, 222, 190);
  text-align: center;
  font-family: "Yeseva One", cursive;
}

#home p {
  color: rgb(238, 222, 190);
  text-align: center;
  font-size: 1rem;
  font-family: "Yeseva One", cursive;
}

.heading {
  /* border: 2px solid red; */
  padding: 50px;
}

.heading h2 {
  color: black;
  opacity: 0.8;
}

.ourService {
  /* background-color: rgb(238, 222, 190); */
  background-color: rgb(31, 29, 26);
  opacity: 0.9;
  background-blend-mode: overlay;
  /* border: 2px solid blueviolet; */
}

.services {
  margin: 50px 50px;
  /* border: 2px solid blueviolet; */
  display: flex;
}

.services .box {
  /* border: 1px solid red; */
  margin: 2px 5px;
  padding: 20px;
  /* border-radius: 30px; */
  margin-bottom: 10px;
  align-content: center;
}

.services .box img {
  height: 150px;
  margin: auto;
  display: block;
}

.services .box p {
  font-family: "Yeseva One", cursive;
  font-size: 2.3vh;
}

/* Clients Section */

#client-section {
  background-color: rgb(238, 222, 190);
  height: 600px;
  padding: 160px;
  /* border: 2px solid red; */
  /* position: relative;  */
}
#clients {
  text-align: center;
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  /* align-items: center; */
}

.quote{
  font-size: 4rem;
  color:black;
}

#client-section::before {
  content: "";
  position: relative;
  background: url("BG2.jpg");
  width: 100%;
  height: 40%;
  z-index: -1;
  opacity: 0.4;
}
.client-item {
  padding: 34px;
}
#client-section img {
  height: 100px;
}

/* Contact Section */
.header {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}

.icon{
  /* border: 2px solid red; */
  height: 30px;
  text-align: center;
}

#contact-section{
  /* border: 10px solid black; */
  height: 400px;
  align-content: center;
  background-color: rgb(238, 222, 190);
}

.inHeader{
  text-align: center;
  font-size: 1.57rem;
}

.findUs{
  /* border: 2px solid red; */
  padding: 10px 80px;
}
/* footer {
  background: black;
  color: rgb(238, 222, 190);
  padding: 17px 1px;
} */

/* Utility Classes */
.h-primary {
  font-size: 3rem;
  padding: 10px;
  font-family: "Yeseva One", cursive;
  color: rgb(238, 222, 190);
}

.h-secondary {
  font-size: 2rem;
  padding: 5px;
  font-family: "Yeseva One", cursive;
  color: rgb(238, 222, 190);
}
.btn {
  padding: 6px 20px;
  border: 2px solid rgb(238, 222, 190);
  background-color: brown;
  color: rgb(238, 222, 190);
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}

.center {
  text-align: center;
}

.h2 {
  font-size: 2rem;
  font-family: "Yeseva One", cursive;
  color: black;
}
